@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; 
}

body {
  background-color: #0D0D12 !important;
  color: #ffffff !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}